.card {
  padding: 0;
  position: relative;
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px 0 0;
  padding: 0;
}

.card__icon {
  width: 23px;
  height: 20px;
  background: transparent url(../images/like-icon.svg) center no-repeat;
  padding: 0;
  border: none;
  opacity: 0.4;
  transition: 0.5s ease-in-out;
}

.card__icon:hover {
  cursor: pointer;
  opacity: 1;
}

.card__icon_active {
  background: transparent url(../images/like-active.svg) center no-repeat;
  opacity: 1;
}

.card__icon_active:hover {
  opacity: 0.4;
}

.card__delete-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent url(../images/delete-btn.svg) center no-repeat;
  width: 32px;
  height: 32px;
  border: none;
}

.card__delete-btn:hover {
  background: transparent url(../images/delete-btn-active.svg) center no-repeat;
  cursor: pointer;
}

.card__description {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin: 0;
  max-width: 353px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #212121;
}

.card__image {
  height: 413px;
  width: 413px;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__image:hover {
  cursor: pointer;
}

@media screen and (max-width: 450px) {
  .card {
    width: 288px;
  }

  .card__image {
    height: 288px;
    width: 288px;
  }

  .card__description {
    font-size: 16px;
    line-height: 1;
  }

  .card__heart-icon {
    width: 20px;
    height: 18px;
  }
}
