.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

.modal_is-open {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  position: relative;
  max-width: 730px;
  border-radius: 8px;
  width: 100%;
  background-color: #fff;
  padding: 32px 50px;
  box-sizing: border-box;
}

.modal__title {
  margin: 0;
  font-family: "poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: 1;
  font-size: 32px;
  color: #212121;
  padding: 4px 0;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  background: transparent;
  border: none;
  width: 40px;
  height: 40px;
  opacity: 40%;
  background-image: url(../images/close_button.svg);
  background-position: center;
  transition: 0.5s ease-in-out;
}

.modal__close-btn_type_preview {
  right: -52.5px;
  top: 0;
  background-image: url(../images/closeBtnTypePreview.svg);
  opacity: 1;
}

.modal__close-btn:hover {
  cursor: pointer;
  opacity: 1;
}

.modal__close-btn_type_preview:hover {
  cursor: pointer;
  opacity: 0.4;
}

.modal__label {
  margin: 32px 0 8px 0;
  font-family: "poppins", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1;
  color: rgba(33, 33, 33, 0.7);
}

.modal__input {
  font-family: "poppins", Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 1;
  font-weight: 500;
  color: #212121;
  border: 1px solid rgba(33, 33, 33, 0.4);
  border-radius: 8px;
  padding: 16px 12px;
}

.modal__input:hover {
  border: 1px solid rgba(33, 33, 33, 1);
}

.modal__input::placeholder {
  color: #2121214d;
}

/* .modal__error:not(:empty) {
  display: block;
  margin-top: 8px;
} */

.modal__error {
  font-family: "poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
  letter-spacing: 0;
  color: rgba(255, 0, 0, 0.7);
  display: none;
  margin-top: 8px;
}

.modal__error_visible {
  display: block;
}

.modal__input_type_error {
  border: 1px solid rgba(255, 0, 0, 0.6);
  border-radius: 8px;
}

.modal__form-fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
  color: #212121;
  margin: 0;
}

.modal__button {
  margin: 32px 0 0;
  max-width: 156px;
  padding: 18px 32px;
  border-radius: 8px;
  background-color: #212121;
  color: #fcf5e5;
  font-family: "poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  border: 0;
  transition: 0.5s ease-in-out;
}

.modal__button:hover {
  cursor: pointer;
  opacity: 80%;
}

.modal__title_type_delete {
  font-size: 24px;
  text-align: center;
  padding: 0;
}

.modal__container_type_delete {
  width: 630px;
  padding: 32px 20px;
}

.modal__close-btn_type_delete {
  right: -52px;
  top: 0;
  color: #fff;
  background-image: url(../images/close-icon-light.svg);
  opacity: 80%;
}

.modal__button_type_delete {
  background-color: #ff6565;
  color: #212121;
  width: 156px;
  padding: 18px 52px;
}

.modal__button_type_delete:hover {
  background-color: #ff3333;
  opacity: 1;
}

.modal__button_type_cancel {
  background: transparent;
  color: #212121;
  border: 1px solid black;
  width: 156px;
  padding: 18px 49px;
}

.modal__button_type_cancel:hover {
  background-color: #212121;
  color: #fff;
  opacity: 1;
}

.modal__buttons-container {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.modal__button_disabled {
  opacity: 50%;
  cursor: not-allowed;
}

.modal__image-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  border-radius: 8px;
  object-fit: contain;
  width: 100%;
}

.modal__caption {
  color: #fff;
  align-self: flex-start;
  font-size: 20px;
  border: 1px solid #212121;
  border-radius: 8px;
  padding: 4px 8px;
  margin: 0;
  background-color: #212121;
  font-family: "poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: 1.2;
}

@media screen and (max-width: 730px) {
  .modal__close-btn_type_delete {
    top: -48px;
    right: 0;
  }
}

@media screen and (max-width: 650px) {
  .modal__close-btn_type_preview {
    right: 0;
    top: -48px;
  }

  .modal__container {
    max-width: 300px;
    padding: 12px 12px;
  }

  .modal__container_type_delete {
    max-width: 630px;
    padding: 32px 20px;
  }
}

@media screen and (max-width: 400px) {
  .modal__container {
    max-width: 300px;
    padding: 12px 12px;
  }

  .modal__title {
    font-size: 20px;
  }

  .modal__input {
    font-size: 16px;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
    padding: 0;
  }

  .modal__label {
    margin-top: 24px;
  }

  .modal__button {
    max-width: 276px;
  }

  .modal__close-btn_type_preview {
    right: 0;
    top: -48px;
  }

  .modal__image {
    min-width: 288px;
    max-width: 288px;
  }

  .modal__caption {
    font-size: 16px;
  }

  .modal__container_type_delete {
    max-width: 300px;
  }

  .modal__buttons-container {
    flex-direction: column;
    gap: 12px;
    align-items: center;
  }

  .modal__button_type_cancel {
    margin-top: 0;
  }

  .modal__button_type_delete {
    margin-top: 20px;
  }

  .modal__title_type_delete {
    font-size: 20px;
    line-height: 1.2;
  }

  .modal__close-btn_type_delete {
    top: -56px;
    right: 6px;
  }
}
